<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502665154779-e85ms4vil5o18sumtaaigt80noq8bgg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502665154779-e85ms4vil5o18sumtaaigt80noq8bgg8</string>
	<key>API_KEY</key>
	<string>AIzaSyC82zAQQrQ_cwvLPKxjRsyHR8kAYxoWuQw</string>
	<key>GCM_SENDER_ID</key>
	<string>502665154779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thirdApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-third-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-third-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502665154779:ios:ffd6f2d6fd17f685a47cfe</string>
</dict>
</plist>